body {
    background-color: bisque;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(15, 1fr);
    max-height: 1vh;
    /* grid-template-rows: auto auto;
    grid-template-columns: auto auto; */
}

#area {
    background-color: lightcoral;
    grid-area: 1/1/12/15;
    
}

#profile-pic {
    background-color: lightblue;
    grid-area: 1/1/2/2
}

#background {
    background-color: blue;

    grid-area: 2/2/5/5;
}

#contact {
    background-color: aquamarine;
    
    grid-area: 6/6/7/7;
}

#games {
    background-color: lightpink;
    
    grid-area: 10/10/12/12;
}

